.BeforeNav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.BeforeNav h3{
    color:#5a5b60c8;
}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
   
  }
 .Upper{
    display: flex;
    justify-content:space-around;
   gap:5px
 }
 .Upper li{
    display: flex;
    font-size: 15px;
    color:#5a5b60c8
 }
 .transparent-element {
    opacity: 0.5;
  }
  
 