.HoldTestimonial {
  grid-template-columns: auto auto;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  display: grid;
}
.carrd {
  padding: 10px;
  height: 180px;
  width: 450px;
  background-color: #faf3e9;
  border: 1px solid rgb(236, 226, 207);
  text-align: center;
  border-radius: 10px;
  color: #5a5b60;
}
.Testimoniall {
  margin-top: 15px;
  font-size: 30px;
}
.descraption {
  font-size: 11px;
}
.containerr {
  gap: 5px;
}
.NameClient {
  font-size: 16px;
  justify-content: center;
  padding: 5px;
}
.fa-star {
  color: rgb(233, 195, 22);
}
.carrd img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  object-fit: cover;
}

@media only screen and (max-width: 767px) {
  .HoldTestimonial {
    grid-template-columns: 1fr;

    gap: 6px;
  }

  .carrd {
    width: 100%;
  }

  .Testimoniall {
    font-size: 24px;
  }

  .descraption {
    font-size: 10px;
  }

  .NameClient {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1024px) {
  .HoldTestimonial {
    grid-template-columns: 1fr;

    max-width: 800px;
    margin: 0 auto;
  }

  .carrd {
    width: 100%;
  }
}
